<html>
  <head>
    <title>Flower Catalog Website</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div>
      <h2 id="heading">
        Flower Catalog
      </h2>
      <hr />
      <div id="homePage">
        <img src="/images/catalogImage.jpg" alt="flowers" id="catalogImage" />
        <div id="links">
          <ul>
            <li><a href="/abeliophyllum.html">Abeliophyllum</a></li>
            <li><a href="/ageratum.html">Ageratum</a></li>
          </ul>
          <img src="/images/animatedBucket.gif" alt="bucket" id="bucket" />
          <a href="/guestBook.html">Guest Book</a>
        </div>
      </div>
    </div>
  </body>
</html>
